body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
}

.button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}